In [2]:
import pandas as pd

url_confirmed = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
url_deaths = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
url_recovered = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

confirmed = pd.read_csv(url_confirmed)
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/17/22,1/18/22,1/19/22,1/20/22,1/21/22,1/22/22,1/23/22,1/24/22,1/25/22,1/26/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,158826,158974,159070,159303,159516,159548,159649,159896,160252,160692
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,233654,236486,239129,241512,244182,246412,248070,248070,248859,251015
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,226749,227559,228918,230470,232325,234536,236670,238885,241406,243568
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,29888,29888,29888,32201,33025,33025,33025,33025,34701,35028
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,93974,94275,94779,95220,95676,95902,96582,97263,97594,97812